DESIGN-CSharp/.vs/
DESIGN-CSharp/SimpleFactory/bin/Debug/
DESIGN-CSharp/SimpleFactory/obj/
DESIGN-CSharp/Singleton/bin/Debug/
DESIGN-CSharp/Singleton/obj/
DESIGN-CSharp/Factory/obj/Debug/
DESIGN-CSharp/AbstractFactory/bin/Debug/
DESIGN-CSharp/AbstractFactory/obj/
DESIGN-CSharp/AbstractFactory/bin/Debug/
DESIGN-CSharp/Strategy/obj/
DESIGN-CSharp/Strategy/bin/Debug/
DESIGN-CSharp/Decorator/obj/
DESIGN-CSharp/Decorator/bin/Debug/
DESIGN-CSharp/Observer/obj/
DESIGN-CSharp/Observer/bin/Debug/
DESIGN-CSharp/Command/obj/
DESIGN-CSharp/Command/bin/Debug/
DESIGN-CSharp/Adapter/obj/
DESIGN-CSharp/Adapter/bin/Debug/
DESIGN-CSharp/Facade/obj/
DESIGN-CSharp/Facade/bin/Debug/
DESIGN-CSharp/Templete/obj/
DESIGN-CSharp/Templete/bin/Debug/
DESIGN-CSharp/Composite/obj/
DESIGN-CSharp/Composite/bin/Debug/
DESIGN-CSharp/Proxy/obj/
DESIGN-CSharp/Proxy/bin/Debug/
DESIGN-CSharp/Chain/obj/
DESIGN-CSharp/Chain/bin/Debug/