DESIGN-CSharp/.vs/
DESIGN-CSharp/SimpleFactory/bin/Debug/
DESIGN-CSharp/SimpleFactory/obj/
DESIGN-CSharp/Singleton/bin/Debug/
DESIGN-CSharp/Singleton/obj/
DESIGN-CSharp/Factory/obj/Debug/
DESIGN-CSharp/AbstractFactory/bin/Debug/
DESIGN-CSharp/AbstractFactory/obj/
DESIGN-CSharp/AbstractFactory/bin/Debug/
DESIGN-CSharp/Strategy/obj/
DESIGN-CSharp/Strategy/bin/Debug/
DESIGN-CSharp/Decorator/obj/
DESIGN-CSharp/Decorator/bin/Debug/